<body>
    <main>
        <section class="header"> 
            <h1>Radiance - Filter</h1>
            <h2>Success 🌸</h2>
        </section>

        <section>
            <h2>You just made a profile!</h2>
            <p>Here are the details:</p>
            {{!-- <ul>
            {{#each data}}
                <li><img src="{{this.imgUrl}}" alt="Profile picture of user"></li>
                <li>
                    <div class="info">
                        <h3>{{this.name}}</h3>
                        <p>{{this.age}}</p>
                    </div>
                </li>
                <li>{{this.gender}}</li>
                <li>{{this.skinType}}</li>
                <li>{{this.skinCare}}</li>
            {{/each}}
         </ul> --}}
        </section>
    </main>
</body>